<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- jQuery library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition login-page">
<div class="jumbotron" style="width: 50%; height: auto; margin: 50px auto;">
    <div class="login-box">
        <div class="alert alert-success"  role="alert" style="width: max-content; text-align: center; margin:0 auto; margin-top:5px; margin-bottom: 5px" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" style="width: max-content; text-align: center; margin:0 auto; margin-top:5px; margin-bottom: 5px;" th:text="${error}" th:if="${error}"></div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg" align="center">Change your Password</p>
                <form
                        th:action="@{/password/change}"
                        method="post"
                        th:object="${forgotPassword}"
                >
                    <div th:if="${param.error}"></div>
                    <div class="input-group mb-3">
                        <input
                                type="password"
                                class="form-control"
                                th:field="*{password}"
                                placeholder="New Password"
                                autocomplete="”off”"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input
                                type="password"
                                name="repeatPassword"
                                class="form-control"
                                placeholder="Repeat Password"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{token}" />
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-8">
                            <button type="submit" class="btn btn-primary btn-block" style="margin-left: 120px;">
                                Change Password
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<script src="../../plugins/jquery/jquery.min.js"></script>
</body>
</html>
