<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forget password</title>
    <!-- jQuery library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery library -->

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
    </style>
</head>
<body>
<div class="jumbotron" style="width: 50%; height: auto; margin: 50px auto; background-color: #f2f2f2;">
    <form th:action="@{/password/request}" method="post" th:object="${forgotPassword}" id="resetPasswordForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email :</span>
            </div>
            <input type="email" class="input form-control" onblur="check_email(this.value)" th:field="*{email}" name="email" required id="email"/>
            <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->

        </div>
        <br>
        <button type="submit" class="btn btn-success" name="submit" value="login" onclick="return submit()" style="width: 30%; margin-left: 250px;" >login</button>
        <br><br>

    </form>

</div>

<script type="text/javascript">
    var exist = false , email;
    function isValidEmail(email) {
        if (email === "" || email.length === 0) {
            return false;
        } else {
            return (/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email) !== false);
        }
    }
    function check_email(email) {
        if (isValidEmail(email)) {
            let dataToSend = {};
            dataToSend["email"] = email;
            console.log(dataToSend["email"]);
            $.ajax({
                url: "http://localhost:8082/checkEmail",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(dataToSend),
                success: function (data) {
                    exist = data["message"];
                },
            });
        } else {
            console.log("Not valid email");
        }
    }
    function submit() {
        console.log("in side submit!!");
        exist = false;
        email = document.getElementById("email");
        check_email(email);
        if (!exist) {
            alert("not valid email");
        }
        return exist;
    }
</script>
</body>
</html>